body {
    background: #0d0d0d;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 25px;
}

header {
    text-align: center;
}

h1 {
    font-size: 34px;
    color: #00d1ff;
}

.subtitle {
    color: #888;
    font-size: 14px;
}

/* BUTTONS */
.controls {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.btn {
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: #fff;
}

.success { background: #2ecc71; }
.warn { background: #f1c40f; color: #000; }
.error { background: #e74c3c; }
.debug { background: #9b59b6; }
.failover { background: #3498db; }
.interrupt { background: #ff0077; }

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 10px rgba(0,255,255,0.4);
}

/* LOG BOX */
.log-section h2 { color: #00f7ff; }

.log-box {
    margin-top: 20px;
    background: #000;
    height: 460px;
    overflow-y: auto;
    padding: 15px;
    font-family: monospace;
    border-radius: 10px;
}

/* LOG TYPES */
.log-line { padding: 5px; margin: 4px 0; }
.log-success { color: #2ecc71; }
.log-warn { color: #f1c40f; }
.log-error { color: #ff5f5f; }
.log-debug { color: #9b59b6; }
.log-rabbit { color: #00d1ff; }
